{% extends 'main/default-layout.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
        <p class="homePage-header">О нас</p>
        <p>Мы работаем с 1111 года</p>
        <p>У нас самая вкусная продукция</p>
        <p>Тут должен быть текст о том, какая крутая у нас кондитерская, но я его не придумал, так что будет факт про котов</p>
        <p>{{ cat_fact }}</p>
        {% for nw in news %}
            <p>{{ nw.title }}</p>
            <p>{{ nw.text }}</p>
            <img src="{{ nw.img.url }}" width="100px" height="100px">
        {% endfor %}
{% endblock %}